*{
    margin: 0;
    padding: 0;
}

.container {
    display: flex; /* definindo o display flex*/
    flex-direction: row;
    flex-wrap: wrap;

    height: 1000px;

    border: 1px solid black;
}

.item{
    height: 200px;
    width: 200px;
    background-color: cadetblue;
}


/*

Flexbox

    - Flexbox é o modo mais eficiente de posicionar, alinhar e distribuir espaço em um container
    - Pode manipular tamanho dos elementos filhos
    = Éagnóstico em oposição a layouts regulares
        - Blocos se empilham verticalmente
        - Inline se empilham horizontalmente


    
    - Display
        - Para habilitar flex no container
        .container{
            display: flex;
        }

    - flex - direction - Eixo Principal
        - Define eixo principal 
        
        .container { 
            flex - direction : row | row - reverse | column | column - reverse ;
        }

    - flex - wrap
        - Por padrão, o flex tenta colocar todo os elementos na mesma linha
        - Mas é possível mudar esse comportamento
        
        .container { 
            flex - wrap : nowrap | wrap | wrap - reverse ; 
        }
*/