*{
    margin: 0;
    padding: 0;
}

.container {
    display: flex; /* definindo o display flex*/
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;

    height: 1000px;

    border: 1px solid black;
}

.item{
    height: 200px;
    width: 200px;
    background-color: cadetblue;
}

.item1{
    height: 300px;

    order: 10;
}

.item2{
    height: 250px;

    order: 2;
}

.item3{
    height: 200px;
}


.div1{
    height: 400px;
    width: 400px;
    background-color: blue;

    display: flex;
    justify-content: center;
    align-items: center;
}

.div2{
    width: 200px;
    height: 200px;

    background-color: brown;
}
/*

Flexbox

    - Flexbox é o modo mais eficiente de posicionar, alinhar e distribuir espaço em um container
    - Pode manipular tamanho dos elementos filhos
    = Éagnóstico em oposição a layouts regulares
        - Blocos se empilham verticalmente
        - Inline se empilham horizontalmente


    
    - Display
        - Para habilitar flex no container
        .container{
            display: flex;
        }

    - flex - direction - Eixo Principal
        - Define eixo principal 
        
        .container { 
            flex - direction : row | row - reverse | column | column - reverse ;
        }

    - flex - wrap
        - Por padrão, o flex tenta colocar todo os elementos na mesma linha
        - Mas é possível mudar esse comportamento
        
        .container { 
            flex - wrap : nowrap | wrap | wrap - reverse ; 
        }

    - justify - content 
        -  Alinha os elementos em relação ao eixo principal 
        
        .container {
            justify - content : flex - start | flex - end | center | space - between | space - around | space - evenly ;
        }

    - align - items 
        - Alinha elementos em relação ao eixo transversal 
        
        .container { 
            align - items : flex - start | flex - end | center | baseline | stretch ;
        }

    - align - content
        - Ajusta espaço entre linhas no eixo transversal 
        - Só funciona quando temos mais de uma linha 
        
        .container { 
            align - content : flex - start | flex - end | center | space - between | space - around | stretch ;
        }

    - order
        - Muda ordem dos elementos 
        - Valor padrão é 0 
        
        .item { 
            order : < integer >;  default is 0 
        }

*/