* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #d4d5d7;
    --header-background: #2a2f32;
    --app-background: #090e11;
    --background-default: #131c21;
    --background-default-active: #323739;
    --background-default-hover: #2d3134;
    --border: #30373b;
    --gray: #394045;
    --backgroud-message: #056162;
    --green-deep: #1b9a59
    
}

body {
    font-family: Segoe UI,Helvetica Neue,Helvetica,Lucida Grande,Arial,Ubuntu,Cantarell,Fira Sans,sans-serif;   
}

.app-container {
    width: 100%;
    height: 100vh;
 
    display: flex;
    justify-content: center;
    align-items: center;
 
    background: var(--app-background);
 
 }

 .app-container .app {
    width: 900px;
    height: 90vh;

    background: var(--background-default);
    color: var(--primary);

 }

 .app header {
    height: 3rem;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 1rem;

    background: var(--header-background);
}

.app .content-container {
    width: 100%;
    height: calc(100% - 3rem);

    display: flex;
}

.content-container .groups-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 30%;
    height: 100%;

    border-right: thin solid var(--border); 

}

.app .messages-container {
    width: 70%;
    height: 100%;

}

.app .messages-container.wallpaper {
    
    background: url("https://preview.redd.it/guftuc4o9ik41.jpg?width=640&crop=smart&auto=webp&s=c8ba926a1aa6f8dd50fd84bdbef23a2e650786d3");
    
    background-size: contain;
    background-position: center;
    background-blend-mode: luminosity;

    background-color: var(--background-default);

}