@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    padding: 0;
    margin: 0;
    
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;

    position: relative;
}

/* Estilo geral do cabeçalho*/
.header {
    background-color: black;
    
    text-align: center;

}

/*ESTILOS CABEÇALHO*/

/* Estilho para os links dentro do cabeçalho*/
.header a {
    text-decoration: none;
    color: #fff;

    opacity: .7;

    transition: opacity .4s ease;
}

/* Estilho de hover para os links dentro do cabeçalho*/
.header a:hover {
    opacity: 1;
}

/*ESTILOS NAVEGADOR DO TOPO*/

/* Estilo do navegador do topo*/
.navigation-top {
    height: 40px;

    background-color: rgba(16, 79, 90, 0.8);

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
}

/* Estilgo para a caixa de botões*/
.navigation-top .button-box {
    display: flex;
    align-items: center;

    height: 100%;
}

/* Estilgo dos itens da lista da caixa de botões*/
.navigation-top .button-box li{
    list-style: none;
}

/* Estilo dos botões do navegador */
.navigation-top .button-box .button {
    text-decoration: none;
    color: #fff;

    padding: 10.5px 60px;

}

/* Estilo hover para os botões do navegador */
.navigation-top .button-box .button:hover {
    background-color: rgba(16, 79, 90, 0.4);
}

/* ESTILOS PARA O CONTAINER*/

.container {
    display: flex;
}

/*ESTILOS NAVEGADOR LATERAL*/

/* Estilo do navegador lateral*/
.container .navigation-side {
    flex-basis: 350px;
    flex-shrink: 0;

    height: 800px;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    background-color: rgba(16, 79, 90, 0.6);

    box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
}


/* Estilgo para a caixa de botões*/
.container .navigation-side .button-box {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
}

/* Estilgo dos itens da lista da caixa de botões*/
.container .navigation-side .button-box li{
    list-style: none;

    height: 50px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    
}

/* Estilo dos botões do navegador */
.container .navigation-side .button-box .button {
    text-decoration: none;
    color: #fff;
    text-align: center;

    padding: 15px;

    width: 100%;

}

/* Estilo hover para os botões do navegador */
.container .navigation-side .button-box .button:hover {
    background-color: rgba(16, 79, 90, 0.2);
}


/*ESTILOS PARA O CONTEÚDO*/

/* Estilo do conteúdo*/
.container .content {
    flex-grow: 1;
}

/* Estilo para as linhas do conteúdo*/
.container .content .row {
    width: 100%;
    height: 400px;

    display: flex;

}

/* Estilo para as celulas das linhas*/
.container .content .row .celula {
    flex-shrink: 0;

    flex-basis: 100%;

}

/* Estilo exclusivo para a primeira celula do primeira linha*/
#cel11 {
    background-color: rgba(240, 97, 72, .25);

    flex-basis: 50%;
}

/* Estilo exclusivo para a segunda celula do primeira linha*/
#cel12 {
    background-color: rgba(107, 224, 96, 0.25);

    overflow: hidden;

    flex-basis: 50%;
}

/* Estilo exclusivo para a primeira celula do segunda linha*/
#cel21 {
    background-color:  rgba(233, 19, 19, 0.25);

    flex-basis: 33.3%;
}

/* Estilo exclusivo para a segunda celula do segunda linha*/
#cel22 {
    background-color: rgba(236, 233, 42, 0.25);

    flex-basis: 33.3%;
}

/* Estilo exclusivo para a terceira celula do segunda linha*/
#cel23 {
    background-color: rgba(17, 22, 22, 0.25);

    flex-basis: 33.3%;
}

/*ESTILOS PARA O ACCORDION */

/* Estilo geral para o accordion */
.container .content .row .celula#cel11 .accordion {
    width: 100%;
    background-color: rgba(240, 97, 72, .5);

}

/* Estilog para os tititlos dos itens do accordion*/
.container .content .row .celula#cel11 .accordion .title {
    height: 40px;

    border-bottom: 1px solid black;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilog para os corpos dos itens do accordion*/
.container .content .row .celula#cel11 .accordion .body {
    height: 0px;

    background-color: rgba(240, 97, 72, .4);

    overflow: hidden;

    transition: height .3s ease-in;
}

/* Estilos para os parágrafos dentro do corpo do accordion*/
.container .content .row .celula#cel11 .accordion .body p {
    text-align: center;

    padding: 10px;
}

/* Estilos para fazer aparecer o corpo aparecer ao passar o mouse sobre o título*/
.container .content .row .celula#cel11 .accordion .title:hover ~ .body {
    height: 240px;
}

/* ESTILOS PARA A IMAGEM DA CÉLULA 2*/

/* Estilo geral do card*/
.container .content .row .celula#cel12 .card {
    position: relative;

    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilo para a imagem do card*/
.container .content .row .celula#cel12 .card img {
    width: 400px;
}

/* Estilo para a legenda do card*/
.container .content .row .celula#cel12 .subtitle {
    position: absolute;
    bottom: 0;

    height: 60px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(22, 21, 21, 0.8);

    color: #fff;
    text-transform: uppercase;
}


/* ESTILO PARA DISPOSITIVOS MENORES QUE 768px*/
@media screen and (max-width: 768px) {

    /* Estilo para modificar a navegação do topo*/
    .navigation-top {
        box-shadow: none;
    }

    /* Estilo para modificar os botões do menu do topo*/
    .navigation-top .button-box .button {
        padding: 10.5px 20px;
    }

    /* Estilo para modificar o container*/
    .container {
        flex-direction: column; 
    }

    /* Estilo para modificar o navegador lateral*/
    .container .navigation-side {
        height: 400px;

        box-shadow: none;
    }

    /* Estilo para modificar as linhas*/
    .container .content .row {
        flex-direction: column;

        width: 100%;
        height: auto;
        
    }

    /* Estilo para modificar as celulas*/
    #cel11, #cel12, #cel21, #cel22, #cel23 {
        flex-basis: initial;

        width: 100%;
        height: 400px;
    }
}