* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;

} /* Resetando todas os elementos da pagina, deixando sem padding e margem */

a {
    display: block;
    text-decoration: none;
}  /* Resetando os links da página, deixando com display block e tirando a decoração do texto */

/* Estilo para o body */
body{
    width: 100%; /* para ocupar todo espaço da tela horizontalmente */
    height: 100vh; /*para ocupar todo espaço da tela verticalmente*/

    background-color: #181919; /* definindo cor de fundo para a página*/

    font-family: 'Share Tech', sans-serif; /* Definindo fonte da página toda*/
}


/* Estilo para do header, já coloquei a cor de fundo nele e não no nav como pediu na atividade*/
.header{
    background-color: #292a2c; 

    height: 70px;
}

/* Estilo da logo*/
.logo{
    display: flex;
    align-content: center;
    align-items: center;

    font-size: 40px;
    color: #daa520;
    
    height: 70px;
}

/* Estilo para o conteiner onde os botões vão ficar*/
.nav-container {
    max-width: 1200px;

    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Estilo para a lista de botões*/
.nav-list{
    list-style: none;
    display: flex;
    align-items: center;

}

/* Estilo dos botões*/
.nav-button{
    padding: 25px;
    
    height: 70px;

    color: #daa520;

    transition: 0.8 ease-in;

    border-top: thin solid transparent;
    border-bottom: thin solid transparent;

}

/* estilo do hover dos botões*/
.nav-button:hover{
    background-color: #3a3d3f;

    border-top: thin solid #daa520;
    border-bottom: thin solid #daa520;
}

/* Estilo para definir display inline para o dropdown (<li> que abrage todo dropdown)*/
.nav-dropdown{
    display: inline;
}

/* Estilo para o botão do dropdown*/
.nav-dropdown-button{
    padding: 25px;
    height: 70px;
    width: 300px;
    text-align: center;

    color: #daa520;
}

/* Estilo para o conteuúdo do*/
.nav-dropdown-content{
    display: none;
    position: absolute;
    z-index: 1;
    
    min-width: 230px;

    background-color: #3a3d3f;
    
    border-top: thin solid #daa520;
    border-bottom: thin solid #daa520;
    
}

/* Estilo para os botões do conteúdo do dropdown*/
.nav-dropdown-content a{
    padding: 10px;
    display: block;
    text-align: left;
    color: white;

}

/* Estilo para hover dos botões do conteúdo do dropdown*/
.nav-dropdown-content a:hover{
    background-color: #292a2c;
}

/* Estillo para fazer hover ao passar o mouse por cima do dropdown*/
.nav-dropdown:hover .nav-dropdown-button{
    background-color: #3a3d3f;
}

/* Estilo para hover do dropdown tranformar ele e o conteúdo e conteúdo do dropdown tranformando em bloco */
.nav-dropdown:hover .nav-dropdown-content{
    display: block;
}

/* Estilo dos artigos*/
.article{
    max-width: 60%;
    margin: 60px auto;

    padding: 30px;

    border: thin solid #daa520;
    border-radius: 50px 0;

    color: white;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

/* Estilo para os titulos do artigo*/
.article h1{
    font-size: 35px;
    padding: 17px 0;
}

/* Estilo de sections*/
.section{
    text-align: justify;
}

/* Estilo para os links dentro das sections*/
.section a{
    margin-top: 10px;

    color: #dda520;

    text-decoration: underline;
}

/* EStilo para a lista dentro da section*/
.section-list{
    padding: 10px 20px 20px 20px;
}

/* Estilo para o strong */
.section-list strong{
    color: #daa520;
}

/* Estilo para as li*/
.section-list li{
    list-style: none;

    margin-top: 10px;
}

/* Estilo para o footer*/
.footer{
    width: 100%;
    height: 25px;

    bottom: 0;
 
    background-color: #292a2c;

    display: flex;
    align-items: center;
    justify-content: space-around;

    text-transform: uppercase;
    color: #dda520;
    font-size: 13px;
    
}

/* Estilos página 2*/

/* Estilo para o nav fixo a esquerda*/
.nav-left{
    height: 100vh;
    width: 400px;

    position: fixed;
    left: 0;
    top: 0;

    background-color: #3a3d3f;

    text-align: center;

}

/* estilo para a lista nav da fixo a esquerda*/
.nav-left-list{
    flex-direction: column;
}

/* Estilo para os botões*/
.nav-left-button{
    width: 400px;

    transition: 0.6 ease;
}

/* Estilo para o hover dos botões*/
.nav-left-button:hover{
    background-color: #292a2c;
}

/* Estilo para fazer os artigos irem para a direita*/
.article-margin-left{
    margin-left: 500px;
}